* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 19, 10);
}

h1 {
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    margin: 20px;
}

.table {
    font-family: sans-serif;
    margin: 0 auto;
    width: 950px;
    min-height: 800px;
    border-radius: 10px;
    border: 50px double rgb(88, 5, 5);
    background: radial-gradient(rgb(17, 206, 17), rgb(6, 63, 6));
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
        align-items: center;
}

.card {
    height: 250px;
    width: 170px;
    background-color: #f1efec;
    border-radius: 5px;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    border: 1px solid black;
}

.card:hover {
    box-shadow: 0px 0px 3px 3px black;
}

.left {
    align-self: flex-start;
}

.middle {
    align-self: center;
}

.right {
    align-self: flex-end;
    transform: rotate(180deg);
}

.red-card {
    color: red;
}

.middle {
    border: double 2px rgb(0, 0, 0);
    border-radius: 3px;
    width: 70%;
    height: 75%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px;
    font-size: 1.5rem;
}

.middle.red-card{
    border: double 2px red;
    border-radius: 3px;
    width: 70%;
    height: 75%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px;
}


.left, .right {
    font-size: 1.3rem;
    margin: 3px;
}